<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
  <!--  <add name="ABB_Actualiza_2008.Properties.Settings.ConnectionString"
      connectionString="Dsn=ALMA_test;uid=usuario100" providerName="System.Data.Odbc" />-->
  </connectionStrings>
  <appSettings>
    <!--<add key="Database.Default" value="server=SSSISTEMAS2;Database=ALMACENES_SAP;Persist Security Info=True;app=Microsoft® Visual Studio® 2005;wsid=TEE;"/>-->
    <!--<add key="Database.Default" value="Dsn=ALMA_test;description=ALMA_test;uid=usuario100;app=Microsoft® Visual Studio® 2005;wsid=TEE"/>-->
    <!--<add key="Database.Default" value="Dsn=ALMA_test;description=ALMA_test;"/>
    <add key="Database.Default_2" value="app=Microsoft® Visual Studio® 2005;wsid=TEE;"/>
    <add key="Database.Default_2008" value="server=VMSS2008\DESA,49205;Database=ALMACENES_SAP;trusted_connection=yes;"/>-->
    <add key="Database.Default" value="Dsn=ALMA_sap;description=ALMA_sap;"/>
    <add key="Database.Default_2" value="app=Microsoft® Visual Studio® 2005;wsid=TEE;"/>
    <add key="Database.Default_2008" value="server=SSSIS4\BNP;Database=ALMACENES_SAP;trusted_connection=yes;"/>
    <!--<add key="Database.Default_2008" value="server=VMSS2008\TEST,49215;Database=ALMACENES_SAP;trusted_connection=yes;"/>-->
  </appSettings>


<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
